<form id="frmLaboratorio" method="post">
    <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Información del Usuario</div>
        <div class="card-body">
                <i class="bi bi-person"></i><p class="card-text"><b> </b> {{ "{{ SesionService.getUsuario() }}" }}</p>
            <p class="card-text"><b> </b> {{ "{{ SesionService.getTipo() }}" }}</p>
        </div>
    </div>

    <div class="mb-1">
        <label>Hora</label>
        <input type="text" class="form-control" id="txtHora" name="txtHora">
    </div>
        <div class="mb-1">
        <label>Categoria</label>
        <input type="text" class="form-control" id="txtCategoria" name="txtCategoria">
    </div>
    <div class="mb-1 text-end">
        <button type="submit" id="btnGuardarHora" class="btn btn-primary">Guardar</button>
    </div>
</form>

<div class="mb-3 input-group">
    <input type="text" class="form-control" id="txtBuscarHora" placeholder="Buscar hora">
    <button class="btn btn-secondary" id="btnBuscarHora" type="button">Buscar</button>
</div>

<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Hora</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody id="tbodylaboratorio"></tbody>
    </table>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12 col-xl-6 col-xxl-6">
        <div class="shadow shadow-lg p-3 mb-2">
            <h5>{{ "{{ categoriaAM.titulo }}" }}</h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" ng-repeat="laboratorio in categoriaAM.laboratorio">
                    <div class="card text-bg-info mb-3">
                        <div class="card-header">Horario de Laboratorio</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ "{{ laboratorio.Hora }}" }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-12 col-xl-6 col-xxl-6">
        <div class="shadow shadow-lg p-3 mb-2">
            <h5>{{ "{{ categoriaPM.titulo }}" }}</h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3" ng-repeat="laboratorio in categoriaPM.laboratorio">
                    <div class="card text-bg-success mb-3">
                        <div class="card-header">Horario de Laboratorio</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ "{{ laboratorio.Hora }}" }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
