<form id="frmLaboratorio" method="post">
    <div class="card text-bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Sesión</div>
        <div class="card-body">
            <h5 class="card-tittle">Información del Usuario</h5>
            <p class="card-text"><b>Usuario: </b> {{ "{{ SesionService.getUsuario() }}" }}</p>
            <p class="card-text"><b>Correo: </b> {{ "{{ SesionService.getTipo() }}" }}</p>
        </div>
    </div>
    <div class="mb-1">
        <label>Hora</label>
        <input type="text" class="form-control" id="txtHora" name="txtHora">
    </div>
    <div class="mb-1 text-end">
        <button type="submit" id="btnGuardarHora" class="btn btn-primary">Guardar</button>
    </div>
</form>

<div class="mb-3 input-group">
    <input type="text" class="form-control" id="txtBuscarHora" placeholder="Buscar hora">
    <button class="btn btn-secondary" id="btnBuscarHora" type="button">Buscar</button>
</div>

<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbodylaboratorio"></tbody>
    </table>
</div>
<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3" ng-repeat="sucursal in categoriaAM.laboratorio">
    <h5 class="text-center">{{ "{{categoriaAM.titulo}}" }}</h5>
    <div class="card text-bg-info mb-3">
      <div class="card-header">Laboratorio</div>
      <div class="card-body">
        <h5 class="card-title">{{ "{{sucursal.Hora}}" }}</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
