<form id="frmSucursal" method="post">
    <div class="mb-1">
        <label>Nombre de sucursal</label>
        <input type="text" class="form-control" id="txtNombre" name="txtNombre">
    </div>
    <div class="mb-1">
        <label>Descripcion</label>
        <input type="text" class="form-control" id="txtDescripcion" name="txtExistencias">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
<!-- <div class="card text-bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Sesión</div>
  <div class="card-body">
    <h5 class="card-title">Información</h5>
    <p class="card-text"><b>Tipo: </b> {{ '{{ SesionService.getTipo() }}' }}</p>
    <p class="card-text"><b>Usuario: </b> {{ '{{ SesionService.getUsr() }}' }}</p>
  </div>
</div> -->
<div class="mb-3 input-group">
    <input type="text" class="form-control" id="txtBuscarSucursal" placeholder="Buscar sucursal por nombre">
    <button class="btn btn-secondary" id="btnBuscarSucursal" type="button">Buscar</button>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodySucursal"></tbody>
    </table>
</div>
<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-3" ng-repeat="sucursal in categoriaAbarrotes.sucursales">
    <h5 class="text-center">{{ "{{categoriaAbarrotes.titulo}}" }}</h5>
    <div class="card text-bg-info mb-3">
      <div class="card-header">sucursal</div>
      <div class="card-body">
        <h5 class="card-title">{{ "{{sucursal.Nombre}}" }}</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>

