{% for estudiante in estudiantes %}
<tr>
    <td>{{ estudiante.Id_Estudiante }}</td>
    <td>{{ estudiante.Nombre }}</td>
    <td>{{ estudiante.Matricula }}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Acciones">
            <button class="btn btn-danger btn-sm btn-eliminar" data-id="{{ estudiante.Id_Estudiante }}">Eliminar</button>
            <button class="btn btn-warning btn-sm btn-modificar" data-id="{{ estudiante.Id_Estudiante }}">Modificar</button>
        </div>
    </td>
</tr>
{% endfor %}
